<h1 style="color:blue">Log In Comics</h1>

<form method="post">
    <label>Email</label>
    <input type="text" name="email" class="form-control" />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Log In</button>
</form>

<h3 style="color:red">@ViewData["MENSAJE"]</h3>