@model List<Generos>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Comics
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
        @foreach (Generos genero in Model)
        {
            <li><a class="dropdown-item" asp-controller="Libro" asp-action="LibrosGenero" asp-route-idGenero="@genero.IdGenero">@genero.Nombre</a></li>
        }
    </ul>
</li>